/* hero */

#hero {
  width: 100%;
  height: 100vh;
  background: url("https://media0.giphy.com/media/ckTEmM6DDogYknpvEs/giphy.gif?cid=ecf05e47a9fu3cu85u2b2kaytvbz26h6g7j9j66ab70ryevf&rid=giphy.gif&ct=g") top center no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 9%;
}

#hero:before {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.blockhero {
  z-index: 200;
  display: block;
}


#hero h1 {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: 100px;
  font-weight: 650;
  color: #fff;
  line-height: 110px;
  text-align: center;
}

#hero .input-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12%;
  padding-right: 9%;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
}

.btn-hover {
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}